img{
    max-height: 200px;
    float: right;
    padding-right: 20px;
    padding-left: auto;
}

ul{
    list-style-type: none;
}
li{
    line-height: 40px
}
#intro{
    padding-top: 30px;
}
a{
    font-weight: bold;
}
body{
    background-color:#f7fbff;
}

#navBar{
    border-bottom: 3px solid black;
}

#simple{
    float: left;
    width: 70%;
}